* {
    padding: 0;
    margin: 0;
}

.head {
    background-color: #FFF;
    height: 100px;
    width: 100%;
    padding: 25px;
    display: flex;
    border-bottom: solid rgb(83, 40, 2) 8px;
}

.pesquisa {
    display: flex;
    align-items: center;
    margin-left: 50%;
}

#lupa {
    background: url("usu.png") no-repeat right / 15px;
    background-color: #C8C8C8;
    border-radius: 10px;
    width: 200px;
    padding-left: 15px;
    border: 0cm;
}

body{
    background-color: #FFD43E;
}
.corpo {
    background-color: #FFD43E;
    height: 87vb;
    width: 100%;
}

.brasil,
.user,
.carrinho {
    display: flex;
    margin-left: 30px;
    align-items: center;
}

.mm {
    position: absolute;
    right: 45%;
    top: 5%;
}

.barraD {
    position: absolute;
    right: -19%;
    bottom: -50%;
}

.barraE {
    position: absolute;
    left: -20%;
    bottom: -44%
}

.slid1{
    width: 800px;
    border-radius: 150px;
    background-color: #ffeba4;
    padding: 30px;
    }

.slid2{
    width: 300px;
    border-radius: 150px;
    background-color: #ffeba4;
    padding: 30px;
  
}

.slid3{
    width: 550px;
    border-radius: 150px;
    background-color: #ffeba4;
    padding: 30px;
 
}

.carousel{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 60px; 
}

.corpo, .corpoContato, body{
    background-color: #ffd43f;
    height: 87vb;
    width: 100%;
}

.contactSection {
    padding: 15px;
    background-color: #ffeba4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 195px;
    left: 28%;
}

.contactSection h2 {
    color: #343a40;
}

.contactForm {
    display: grid;
    gap: 20px;
}

.contactForm label {
    display: block;
    margin-bottom: 5px;
}

.contactForm input,
.contactForm textarea {
    width: 100%;
    padding: 5px;
    border: 4px solid #ced4da;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#messageInput {
    width: 100%;
    padding: 5px;
    border: 4px solid #ced4da;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#sendMessageBtn {
    background-color: #ffd43f;
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

.contactText {
    margin-left: 29%;
    font-style: italic;
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.loginBody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffd43f;
}

.loginForm {
    width: 350px;
    padding
};  

.faleconosco {
    margin-left: 29%;
    font-style: italic;
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.corpo12 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffd43f;
}













